{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>review page s</title>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/addreview.css' %}"/>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>


<body style="background-color:cyan">
<br><br><br><br>
<div class="container">
 <form method="post">
     <h2 style="font-family:gabriola">Add Your review </h2>
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-info" ><i class="bi bi-cursor"></i></button>
  </form></div>
</body>
</html>