{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
      <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}"/>

</head>
<body>

<div class="footers">
<footer>
  <p>Created By : My Ecommerce application<br>
  <a href="https://in.images.search.yahoo.com/yhs/search;_ylt=Awrx.3b7VhVkYMcU8TfnHgx.;_ylu=Y29sbwMEcG9zAzEEdnRpZAMEc2VjA3BpdnM-?p=career+buddy+images&type=fc_ABF530B7983_s69_g_e_d052222_n0670_c4&param1=7&param2=eJw1i8GOgzAMRH%2FFx1aqgh2SAOHaL%2Bi16iFNUhoRCGqpWO3Xr5G29sFvPDNDCtf%2BdjkTomw6eT3dZtZoGmTcLdSSh4VnofimhUEq7KzCprYqoLOtlq312ktbB6etpEdrqcM9PsTC%2BTQzfhzTVH5Tzq7SAuGwpTmU7Q3zCoQCe%2BCHUT38GHUEtyw5bvE%2BprXSdSNqA4fxuU75BDmNEYbox3IE%2F3yVKVZEJHBfeLuHe6VvJYbh3yNjSCj1BwdfRVM%3D&hsimp=yhs-2461&hspart=fc&ei=UTF-8&fr=yhs-fc-2461">denilkurian.com</a></p>
    <p>Contact:9207574484,883456779</p><br>
    <a href="#"><p>About&nbsp;&nbsp;&nbsp;&nbsp;   Help center&nbsp;&nbsp;&nbsp;&nbsp;Browse Companies</p></a>
    <a href="#"><p>All rights reserved © 2023 .&nbsp;&nbsp;&nbsp;&nbsp;   Terms & Conditions&nbsp;&nbsp;&nbsp;&nbsp;Cookies</p></a>

    <center><p><b>Social</b></p>
     <a href="#">Facebook</a><br>
     <a href="#">Twitter</a><br>
     <a href="#">Youtube</a>
     </center>


</footer></div>
</body>
</html>